<html>
<head>

</head>
<body>
        <button onclick="goBack()">Go Back</button>

        <script>
        function goBack() {
          window.history.back();
        }
        goBack();
        </script>
</body>
</html>